/*
 * -------------------------------------------------
 *  davismcc/nf-hipsci-fibro Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

process {

  container = params.container
  executor {
    $lsf {
      name = 'lsf'
      queue = 'research'
      queueSize = 1000
      perJobMemLimit = true
      pollInterval = '30sec'
    }

    $local {
      cpus = 2
      memory = '12 GB'
    }
  }
  executor {
    name = 'lsf'
    queue = 'research'
    queueSize = 1000
    pollInterval = '30 sec'
    perJobMemLimit = true
  }
  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

  // Process-specific resource requirements
  $fastqc {
    errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'ignore' }
  }
  $multiqc {
    executor = 'local'
    errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'ignore' }
  }
}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 12.GB
  max_cpus = 2
  max_time = 140.h
}
